body{
    background-image: url(img1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box{
    margin-top: 16%;
    margin-left: 44%;
    width: 21%;
    height: 60%;
    background-color: #f5bae1;
}

#heading{
    padding-left: 25%;
    padding-top: 10%;
}

#submit{
    float: right;
    margin-right: 10%;
    margin-bottom: 3%;
}

.details{
    margin-left: 17%;
}
.checkbox{
    padding-bottom: 15%;
    padding-left: 7%;
    padding-top: 2%;
}